.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.mainContainer div{
    padding: 5px;
}

.mainContainer img{
    border-radius: 20px;
}